# =========================
# CORE NUMERIC & DATA
# =========================
numpy==2.3.*
pandas==2.3.*
polars==1.34.*

# =========================
# VISUALIZATION
# =========================
matplotlib==3.10.*
plotly==6.3.*

# =========================
# MACHINE LEARNING & NLP
# =========================
scikit-learn==1.7.*
torch==2.8.*
spacy==3.8.*
nltk==3.9.*
sentence-transformers==5.1.*
elfen==1.2.*
git+https://github.com/mmmaurer/elfen.git

# =========================
# NOTEBOOK & ENVIRONMENT
# =========================
jupyter==1.0.0
ipykernel==6.29.5
tqdm==4.66.5
